

.desplegable-gral{
    background-color: rgb(0, 0, 0);
    height: 40rem;
    position: relative;
    margin-top: 19em; 
    width: 100%;
    min-height: 50px; 
}

.titulo-int{
    background-color: white;
    z-index: 4;
    position: absolute;
    top: -4vh;
    left: 29vw;
    width: 40%;
    border: 1.5px solid black;
    border-radius: 10vh;
    height: 49px;  
}

#texto-integrantes{
    font-family: 'Comfortaa', cursive;
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin-top: 6px;    
}

@media screen and (max-width: 750px) {
    .titulo-int{
        width: 55%;
        position: absolute;
        left: 22vw; 
        display: flex;
        justify-content: center;
        align-content: center;
        height: 45px;  
    }  
}
@media screen and (max-width: 750px) {
    #texto-integrantes{
       margin-top: 6px;
        font-size: 24px;
    }  
}
[class*=row-trans]{
    background-color: rgb(0, 0, 0);
    height: 13%;
    position: absolute;
    width: 25%;
    transition-duration: 1s;
}

[class*=row-trans]:hover{
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    width: 45%; 
    }

[class*=row-trans] p{
        display: none;
        width: 550px;
        font-family: 'Comfortaa', cursive;
        background-color: black;
    }


/* WILLIAM */

.row-trans1{
   border: 2px solid  rgb(39, 128, 187);
   top: 17%; 
   left: 0;
   border-bottom-right-radius: 10vh;
   border-top-right-radius: 10vh;
   border-left: none;
   }

.row-trans1:hover {
    background-image: url("../imagenes/william.png"); 
    background-color:rgb(125, 183, 222);
    border: 2px solid rgb(39, 128, 187);
    background-position: right;
    background-size: 37vh;
    border-left: none;
}
  
.row-trans1:hover p{
    border: 2px solid  rgb(39, 128, 187);
    border-top: none;
    padding: 3vh;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    display: inline;
    color:rgb(39, 128, 187);
    position: absolute;
    left: 5%;
    top: 130%;
    z-index: 2;
}

.row-trans1 h1{
    color: rgb(18, 102, 158);
    position: absolute;
    top: 30%;
    left: 3vw;
    font-size: 18px;
    font-family: 'Zen Dots', cursive;   
}

@media screen and (max-width:600px){
    .row-trans1 p {
        width: 22rem;

}    
}
@media screen and (max-width:400px){
    .row-trans1 p {
        width: 19rem;

}    
}




/* FERGIE */
.row-trans2{
    border: 2px solid rgb(194, 57, 91);
    top: 38%; 
    left: 0;
    border-bottom-right-radius: 10vh;
    border-top-right-radius: 10vh;
    color:  rgb(194, 57, 91);
    border-left: none;
}
.row-trans2:hover {
    border:2px solid rgb(194, 57, 91);
    background-color:rgb(227, 149, 169);
    background-image: url("../imagenes/fergie.png"); 
    background-repeat: no-repeat;
    background-position: right;
    background-size: 37vh;
    width: 45%;       
    border-left: none;
}



  
.row-trans2:hover p{
    border: 2px solid  rgb(194, 57, 91);
    border-top: none;
    padding: 3vh;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    display: inline;
    color: rgb(197, 125, 143);
    position: absolute;
    left: 5%;
    top: 130%;
    z-index: 2;
}

.row-trans2 h1{
    color: rgb(194, 57, 91);
    position: absolute;
    top: 30%;
    left: 3vw;
    font-size: 18px;
    font-family: 'Zen Dots', cursive;
}

@media screen and (max-width:600px){
    .row-trans2 p {
        width: 22rem;
}    
}

@media screen and (max-width:400px){
    .row-trans2 p {
        width: 19rem;
}    
}


/* TABOO */
.row-trans4{
    border: 2px solid rgb(30, 101, 19);
    top: 17%; 
    right: 0;
    border-bottom-left-radius: 10vh;
    border-top-left-radius: 10vh;
    color: rgb(30, 101, 19);
    border-right: none;
}

.row-trans4:hover {
    background-image: url("../imagenes/taboo.png"); 
    background-color:rgb(134, 184, 126);
    background-repeat: no-repeat;
    background-position: left;
    color: rgb(0, 0, 0);
    width: 45%;
    border-right: none;
}


.row-trans4 h1{
    color: rgb(30, 101, 19);
    position: absolute;
    top: 30%;
    right: 10vh;
    font-size: 18px;
    font-family: 'Zen Dots', cursive;
}

.row-trans4:hover p{
    border: 2px solid rgb(30, 101, 19);
    border-top: none;
    padding: 3vh;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    display: inline;
    color: rgb(30, 101, 19);
    position: absolute;
    right: 5%;
    top: 130%;
    z-index: 2;
}




@media screen and (max-width:600px){
    .row-trans4 p {
        width: 22rem;

}    
}
@media screen and (max-width:400px){
    .row-trans4 p {
        width: 19rem;

}    
}


/* APL */
.row-trans5{
    border: 2px solid  rgb(191, 183, 26); 
    top: 38%; 
    right: 0;
    border-bottom-left-radius: 10vh;
    border-top-left-radius: 10vh;
    color:   rgb(191, 183, 26);
    border-right: none;
}

.row-trans5:hover {
    background-image: url("../imagenes/apl.png"); 
    background-color: rgb(235, 230, 127);
    background-repeat: no-repeat;
    background-position: left;
    color: rgb(0, 0, 0);
    width: 45%;
    border-right: none;
}


.row-trans5 h1{
    color:  rgb(191, 183, 26);
    position: absolute;
    top: 30%;
    right: 10vh;
    font-size: 18px;
    font-family: 'Zen Dots', cursive;
}

  
.row-trans5:hover p{
    border: 2px solid   rgb(191, 183, 26);
    border-top: none;
    padding: 3vh;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    display: inline;
    color:  rgb(191, 183, 26);
    position: absolute;
    right: 5%;
    top: 130%;
    z-index: 2;
}




@media screen and (max-width:600px){
    .row-trans5 p {
        width: 22rem;
}    
}

@media screen and (max-width:400px){
    .row-trans5 p {
        width: 19rem;
}    
}



@media screen and (min-width:540px){
    [class*="row-trans"] h1{
       font-size: 22px;
    }
}


@media screen and (max-width:1300px){
    .row-trans1 h1{
        left: 4vh;

    }
    .row-trans2 h1{
        left: 4vh;
    }
    .row-trans4 h1{
        right: 4vh;
    }
    .row-trans5 h1{
        right: 4vh;
    }
}

@media screen and (max-width:667px){
    [class*="row-trans"] {
       width: 45%;
    }
}



